<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
    <form action="#" th:action="@{/pedido}" th:object="${pedido}" method="post">
        <div>
            <label>Cliente: </label>
            <input type="text" th:field="*{cliente}">
        </div>
        <div>
            <label>Para entregar?</label>
            <select id="" th:field="*{entregar}">
                <option value="true">sim</option>
                <option value="false">não</option>
            </select>
        </div>
        <div>
            <label>Endereço</label>
            <input type="text" th:field="*{endereco}">
        </div>
        <div th:each="item : ${todosItens}">
            <input type="checkbox" th:id="${'item' + item.id}" th:value="${item.id}" th:field="*{itensCardapioSelecionados}">
            <label th:for="${'item' + item.id}" th:text="${item.nome}"></label>
        </div>
        <input type="submit" value="Registrar pedido">
    </form>
    <div th:each="pedido : ${todosPedidos}">
        <div id="pedido${pedido.id}">
            <div id="nome${pedido.id}" th:text="${pedido.cliente}"></div>
            <div id="entregar${pedido.id}" th:text="${pedido.entregar} ? 'entregar' : 'retirar'"></div>
            <div id="endereco${pedido.id}" th:text="${pedido.endereco}"></div>
            <form th:action="@{'apagar/pedido/' + ${pedido.id}}" method=post>
            	<input type="submit" value="X">
            </form>
        </div>
    </div>
</body>
</html>
